{% extends 'base.html.twig' %}


{% block body %}

<div class="container">
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    <button class="btn btn-block btn-lg btn-primary">Créer</button>
    {{ form_end(form) }}
    <a class="nav-link text-center align-center" href="{{ path("login") }}">Déjà inscrit ?</a>
</div>
{% endblock %}