{% extends 'base.html.twig' %}


{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="container">
        <div class="col-sm-12">
            <div class="well">
                <form action="{{ path('login') }}" method="post" name="login_form">
                    <fieldset>
                        <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'login'|trans }}</legend>
                        <div class="form-group">
                            <label for="username">{{ 'username'|trans }}</label>
                            <input type="text" id="_username" name="_username" value="{{ last_username }}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">{{ 'password'|trans }}</label>
                            <input type="password" id="_password" name="_password" class="form-control" />
                        </div>
                        <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <a class="nav-link" href="{{ path("forgotten_password") }}">Mot de passe oublié</a>
                        <button type="submit" name="login_form[submit]"class="btn btn-primary col">
                            {{ 'sign_in'|trans }}
                        </button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}