{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="container">
            <img id="showImg" src="{{ asset('uploads/') }}{{ image_header.path }}" class="card-img-top" alt="...">
            <h3>Modifier un article</h3>
        {{ form_start(form) }}
            {{ form_widget(form._token) }}
            <div class="form-group">
                {{ include("admin/trick/_form.html.twig", { form: form }) }}
            </div>
            <div class="">
                <button class="btn btn-block btn-lg btn-primary">Modifier</button>
            </div>
        {{ form_end(form, { render_rest: false }) }}
    </div>
{% endblock %}


